<!-- <input type="text" [value] = "userName"> -->
<!-- {{userName}} -->

Principal Amount: 
<input type="text" #p = "p" placeholder="Principal Amount">
<br>
Rate of Interest:
<input type="text" #roi = "roi" placeholder="Rate of Interest">
<br>

Tenure in Months:
<input type="text" #t = "t" placeholder="Tenure in Months">
<br>
GST:
<input type="text" [value] = "gst" disabled>
<br>
<button (click) = "calculateEMI(p, roi, t)">Calculate EMI</button>
<!-- 
<h2>
    <span [style.color]="emiColor">EMI to be paid:</span> {{ emi }}
</h2>

<h3>
    <span [style.color]="interstColor">Interest:</span> {{ interest }}
</h3> -->